<section class="home">
  <h1>Noção de Nada Cover</h1>

  <ul>
    <li><a href="">Ar</a></li>
    <li><a href="">Battlefield</a></li>
    <li><a href="">Depois da Enchente</a></li>
    <li><a href="">Dezesseis</a></li>
    <li><a href="">Em Construcao</a></li>
    <li><a href="">Pólvora</a></li>
  </ul>
</section>

<%= require_module %>
